.ipt-small {
    display: inline-block;
    margin-left: 5px;
}
.btn-circle-lg {
    display: inline-block;
}
.count-box {
    text-align: center;
}
.container {
    touch-action: none;
}
.btn-cus {
    background-color: pink;
    border: pink;
}


