.ipt-small {
    display: inline-block;
    // margin-left: 1px;
}
.btn-circle-lg {
    display: inline-block;
}

.btn-minus { color: rgb(0, 220, 0); }
.btn-minus:active { color: rgb(0, 160, 0); }

.btn-circle { color: rgb(220, 0, 0); }
.btn-circle:active { color: rgb(160, 0, 0); }

.count-box {
    text-align: center;
}