<div class="ui-example">
    <div class="article">
      <h3>Circle Preset</h3>
      <button type="button" class="btn btn-primary btn-circle-preset">+</button>
      <button type="button" class="btn btn-secondary btn-circle-preset">+</button>
      <button type="button" class="btn btn-success btn-circle-preset">+</button>
      <button type="button" class="btn btn-danger btn-circle-preset">+</button>
      <button type="button" class="btn btn-warning btn-circle-preset">+</button>
      <button type="button" class="btn btn-info btn-circle-preset">+</button>
      <button type="button" class="btn btn-light btn-circle-preset">+</button>
      <button type="button" class="btn btn-dark btn-circle-preset">+</button>
    </div>
    <!-- end -->
    <div class="article">
      <h3>Circle lg</h3>
      <button type="button" class="btn btn-outline-primary btn-circle-lg">+</button>
      <button type="button" class="btn btn-outline-secondary btn-circle-lg">+</button>
      <button type="button" class="btn btn-outline-success btn-circle-lg">+</button>
      <button type="button" class="btn btn-outline-danger btn-circle-lg">+</button>
      <button type="button" class="btn btn-outline-warning btn-circle-lg">+</button>
      <button type="button" class="btn btn-outline-info btn-circle-lg">+</button>
      <button type="button" class="btn btn-outline-light btn-circle-lg">+</button>
      <button type="button" class="btn btn-outline-dark btn-circle-lg">+</button>
    </div>
    <!-- end -->
    <div class="article">
      <h3>Circle xl</h3>
      <button type="button" class="btn btn-primary btn-circle-xl">+</button>
      <button type="button" class="btn btn-secondary btn-circle-xl">+</button>
      <button type="button" class="btn btn-success btn-circle-xl">+</button>
      <button type="button" class="btn btn-danger btn-circle-xl">+</button>
      <button type="button" class="btn btn-warning btn-circle-xl">+</button>
      <button type="button" class="btn btn-info btn-circle-xl">+</button>
      <button type="button" class="btn btn-light btn-circle-xl">+</button>
      <button type="button" class="btn btn-dark btn-circle-xl">+</button>
    </div>
    <!-- end -->
    <div class="article">
      <h3>Input sm</h3>
      <input type="email" class="form-control ipt-small" />
    </div>
    <!-- end -->
  </div>
  