<div class="container">

  <ng-container *ngFor="let item of [1,2,3,4,5]">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">訂單編號: 0001</h5>

        <ng-container *ngFor="let item of orderList">
          <span class="span-brand" [ngStyle]="{'color': item.color}"><strong>【{{ item.name }} : {{ item.quantity }}】</strong></span>
        </ng-container>
    
        <button type="button" class="btn btn-secondary" style="float: right;">結單</button>
      </div>
    </div>
  </ng-container>

</div>
