<div class="container">
  <!-- <div class="row"> -->

  <table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">口味</th>
        <th scope="col">價格</th>
        <th scope="col" style="text-align: center;">數量</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of menuList; index as i">
        <td style="width: 64px;"><img src="assets/img/hello_64_{{i+1}}.ico"></td>
        <th scope="row">{{ i+1 }}</th>
        <td>{{ item.name }}</td>
        <td>{{ item.price }}</td>
        <td>
          <ui-quantity-register (count)="addCount(item.name ,$event)"></ui-quantity-register>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- <img src="assets/img/hello_128.ico">
  <img src="assets/img/hello_96.ico">
  <img src="assets/img/hello_64.ico"> -->
  <button type=" button" class="btn btn-info btn-lg btn-block" (click)="confirmQuantity(template)">送出</button>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">確認本次訂單數量</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <table-tbody001 [dataList]="menuList"></table-tbody001>
      <table class="table table-borderless">
        <tbody>
          <tr *ngFor="let item of menuList">
            <td>
              <h4>【{{ item.name }}】</h4>
            </td>
            <td>
              <h4>數量: {{ item.quantity }}</h4>
            </td>
            <td>
              <h4>金額: {{ item.amount }}</h4>
            </td>
          </tr>
        </tbody>
      </table>
      <hr>
      <h2>總金額：{{ totalAmount }} $</h2>

    </div>
  </ng-template>

  <!-- </div> -->
</div>